<!DOCTYPE html>
<html>


      <div id="right_column" class="purple_background_content">
        <p class="reg_title_text">Bulbasaur</p>
        <p>Bulbasaur often rests in bright places so its bulb can absorb sunlight. It can be seen napping in bright sunlight. While it sleeps, the seed on its back catches the rays and uses the energy to grow.</p>
        <p>Bulbasaur has a "bulb" on its back that grows steadily larger as it matures. This bulb contains a seed which uses photosynthesis to supply Bulbasaur with energy. Its bulb is also used to store the energy that the seed absorbs, which can be used when it is necessary. It is assumed that when a Bulbasaur collects enough energy in its bulb, it will evolve into an Ivysaur.</p>

      </div>

</html>
